.about{
    width: 100%;
    display: flex;
    margin: 30px 20px;
    padding: 20px;
    border-radius: 10px;
    /* background : linear-gradient(75.2deg, rgb(41, 196, 255) -2.5%, rgb(255, 158, 211) 55%, rgb(255, 182, 138) 102.3%);; */
    background: radial-gradient(1224px at 10.6% 8.8%, rgb(255, 255, 255) 0%, rgb(153, 202, 251) 100.2%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:rgb(53, 47, 47);
}

.about-internal{
    width: 100%;
    display: flex;
    flex-direction: column;
    border:2px solid rgb(53, 47, 47);
    border-radius: 10px;
    
    padding: 20px;
}

.about h1{
    text-align: left;
    margin-bottom: 0px;
}

.about p{
    width:'80%'

}

table  th{
    text-align: center;
}
table , th , td{
    border-collapse: collapse;
    border: 2 px solid black;
}

th{
    background-color: gray;
    color: white;
    border-color: black;
}

.print-output{
    width: 98%;
    display: flex;
    padding: 10px;
}

.print-output a{
    color:white;
    background: blueviolet;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

table.output{
    width: 90%;
}

.main-area-output{
    display: flex;
    width: 100%;
    flex-direction: column;
}